div {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

button {
  font-size: 64px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition-duration: 250ms;
  transform: translateY(0);

  &:hover {
    transform: translateY(-4px);
  }
}
